aiohttp==1.0.5
appdirs==1.4.0
async-timeout==1.1.0
cffi==1.9.1
chardet==2.3.0
decorator==4.0.11
discord.py==0.16.7
ipython==5.2.2
ipython-genutils==0.1.0
multidict==2.1.4
numpy==1.15.2
packaging==16.8
pandas==0.23.4
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pycparser==2.17
Pygments==2.2.0
PyNaCl==1.0.1
pyparsing==2.1.10
python-dateutil==2.7.3
pytz==2018.5
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
websockets==3.2
